[Unit]
Description=Certbot renew using DNS for Gandi LiveDNS

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew -q --authenticator dns-gandi --dns-gandi-credentials /etc/letsencrypt/gandi.ini
